{% extends "genlayout.html" %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-9 main-chart">
                
        <h3 style="text-align: center">{{title}}</h3>
        <div class="row mt">
        <!-- SERVER STATUS PANELS -->
                
        {% for vid in vidlist %}
        <div class="col-md-4 mb">
          <div class="white-panel pn">
            <div class="white-header">
              <h3><a href="#">{{vid['title']}}</a></h3>
            </div>
            
            <h5><a href="#">Uploaded by {{vid['creator']}}</a></h5>
            <div class="row">
						  <iframe width="240" height="140" src="{{vid['URL']}}" frameborder="0" allowfullscreen></iframe>
						  <!--<p><a href="{{vid['URL']}}">{{vid['URL']}}</a></p>-->
						</div>
					
          </div><!--/grey-panel -->
        </div><!-- /col-md-4-->
        {% endfor %}
      </div><!-- /col-lg-9 END SECTION MIDDLE -->
    </div>
    
{% endblock %}